.btnCustom {
  background-color: orange;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 6px 16px;
  min-width: 40px;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}
